.switch{
  display:inline-flex;
  align-items:center;
  cursor:pointer;
  user-select:none;
}

.switch__input{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:0;
  overflow:hidden;
  clip:rect(0 0 0 0);
  white-space:nowrap;
    &:disabled + span{
    background:$base-500;
    cursor: not-allowed;
  }
}

.switch__track{
  width:52px;
  height:28px;
  border-radius:999px;
  background:$primary-500;
  position:relative;
  transition:background .2s ease;
  &:hover{
    transition:background .2s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), $primary-800;
  }

}

.switch__track::after{
  content:"";
  position:absolute;
  top:50%;
  left:4px;
  width:20px;
  height:20px;
  border-radius:50%;
  background:#fff;
  transform:translateY(-50%);
  transition:transform .2s ease;
  filter: drop-shadow(0 1.333px 2.667px rgba(0, 0, 0, 0.30)) drop-shadow(0 2.667px 5.333px rgba(0, 0, 0, 0.26)) drop-shadow(0 22.667px 9.333px rgba(0, 0, 0, 0.05)) drop-shadow(0 36px 10.667px rgba(0, 0, 0, 0.01));
}

.switch__input:checked + .switch__track::after{
  transform:translate(24px,-50%);
}

.switch__input:focus-visible + .switch__track{
  outline:3px solid rgba(0,0,0,.35);
  outline-offset:4px;
}

.switch-l{
    width:52px;
    height:28px;
    .switch__input:checked + .switch__track::after{
        transform:translate(24px,-50%);
    }
    .switch__track::after{
        left:4px;
        width:20px;
        height:20px;
    }
}

.switch-m{
    .switch__input:checked + .switch__track::after{
        transform:translate(20px,-50%);
    }
    .switch__track{
        width:44px;
        height:24px;
    }
    .switch__track::after{
        left:4px;
        width:16px;
        height:16px;
    }
}

.switch-s{
    .switch__input:checked + .switch__track::after{
        transform:translate(16px,-50%);
    }
    .switch__track{
        width:36px;
        height:20px;
    }
    .switch__track::after{
        left:2px;
        width:16px;
        height:16px;
    }
}

.switch-xs{
    .switch__input:checked + .switch__track::after{
        transform:translate(12px,-50%);
    }
    .switch__track{
        width:28px;
        height:16px;
    }
    .switch__track::after{
        left:2px;
        width:12px;
        height:12px;
    }
}