.cl-header{
    padding-top: 20px;
    
    @include media-breakpoint-up(lg){
        margin-bottom: -100px;
    }
    &-container{
        border-radius: var(--Radius-brand-L, 32px);
        background: radial-gradient(232.98% 62.09% at 0% 100%, #C0CBD4 0%, #6D7E8B 40%, #394B55 75%);


        
        width: 100%;
        height: 672px;
        min-height: min-content;
        position: relative;
        display: flex;
        align-items: center;
        max-width: 2200px;
        @include media-breakpoint-up(lg){
            background: radial-gradient(179.69% 124.05% at 5.75% 7.74%, #C0CBD4 15%, #6D7E8B 40%, #394B55 75%);
        }
        @include media-breakpoint-up(xxl){
            height: 772px;
        }
    }
    &-content{
        padding-top: 32px;
       
        position: relative;
        @include media-breakpoint-up(lg){
             margin-bottom: 116px;
        }
    }
    &-photo{
        
        flex-shrink: 0;
        @include media-breakpoint-up(lg){
            height: 100%;
            width: 800px;
        }
        img{
           @include media-breakpoint-up(lg){
            position: absolute;
                bottom: 0;
                left: 0;
                width: 500px;
            }
            @include media-breakpoint-up(xl){
                 
                width: 653px;
            }
            @include media-breakpoint-up(xxl){
                width: 753px;
            }
        }
    }
    &-badge{
        border-radius: var(--Radius-round, 1000px);
        border: 1px solid var(--Border-100, #F8F9FA);
        padding: var(--Spacing-xxs, 2px) var(--Spacing-m, 12px);
        width: fit-content;
        line-height: 20px;
    }
}