/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/

/**
 * Main element
 */
[role=main] {
	display: block;
	padding: 1rem;
}
.m-auto {
	margin: 0 auto;
}