.hp-blog{
    &-small-slider{
        overflow: visible;
    }
    &-small-item{
        width: 280px;
        height: auto;
    }
    &-main{
        &-image{
            border-radius: 32px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        &-desc{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    @include media-breakpoint-up(sm){
        &-small-wrapper{
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 24px;
            transform: none !important;
        }
        &-small-item{
            width: auto;
            margin-right: 0 !important;
        }
    }
}
.btn-blog{
    width: 320px;
    border: 2px solid #000;
    background: transparent;
    max-width: 100%;
    padding: var(--Spacing-xl, 24px) var(--Spacing-m, 12px);
    &:hover{
        background: #0000002f;
        border: 2px solid #000;
    }
}
