.accordion {
    .accordion-item {
        border: 1px solid var(--Border-500, #D2D2D6);
        margin-bottom: 8px;
  
        .accordion-header {
            width: 100%;
            border: none;
            text-align: left;
            cursor: pointer;
            position: relative;

            padding: var(--Spacing-m, 12px) var(--Spacing-m, 16px);
            color: var(--Text-body, #12133A);
            font-size: var(--font-size-m, 16px);
            font-style: normal;
            font-weight: var(--font-weight-regular, 400);
            line-height: var(--font-line-height-s, 24px); /* 150% */
            letter-spacing: var(--font-spacing-0, 0px);

            &:before {
                display: inline-block;
                content: '';
                width: 24px;
                height: 24px;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69442 9.68442C5.00463 9.40993 5.47862 9.43889 5.7531 9.7491L11.9722 17.2983L18.1923 9.74908C18.4667 9.43888 18.9407 9.40994 19.2509 9.68444C19.5611 9.95894 19.5901 10.4329 19.3156 10.7431L12.885 18.5302C12.7707 18.6595 12.6302 18.763 12.4728 18.8339C12.3154 18.9048 12.1448 18.9415 11.9722 18.9415C11.7996 18.9415 11.629 18.9048 11.4716 18.8339C11.3142 18.763 11.1737 18.6595 11.0594 18.5302L4.62973 10.7431C4.35524 10.4329 4.3842 9.9589 4.69442 9.68442Z" fill="%23FE6400"/></svg>');
                background-size: cover;
                position: absolute;
                right: 10px;
                top: 8px;
                transition: transform 0.3s ease;
                right: 10px;

                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }

            &.active:before {
  
                transform: rotate(180deg) translateY(-8px);
            }
        }
  
      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
      
        background: #fff;
  
        p {
          margin: 0px 0px 16px 0px;
          color: var(--Text-body, #12133A);
        font-size: var(--font-size-m, 16px);
        font-style: normal;
        font-weight: var(--font-weight-regular, 400);
        line-height: var(--font-line-height-s, 24px); /* 150% */
        letter-spacing: var(--font-spacing-0, 0px);
        &:first-child {
            margin-top: 16px;
        }
        }
      }
  
      .accordion-header.active + .accordion-content {

        padding:0px 16px ;
      }
    }
  }
  