/*------------------------------------*\
    #ICON
\*------------------------------------*/

/**
 * 1) Small image that represents functionality
 */
.c-icon {
	height: 16px;
	width: 16px;
	stroke: #000000;
	fill: #000000;
}
.c-icon-size-24 {
	height: 24px;
	width: 24px;
}
.c-icon-size-38 {
	height: 38px;
	width: 38px;
}
.c-icon-size-48 {
	height: 48px;
	width: 48px;
}