/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *
 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */

/*------------------------------------*\
     #COLORS
\*------------------------------------*/    


$succes-500: $green-500;
$error-500: $red-500;

/* Mode 1 */
/* color */
/* Alert */
$alert-100: #fef2e1;
$alert-200: #fef0db;
$alert-300: #fdebc9;
$alert-400: #fbdc95;
$alert-500: #efb701;
$alert-600: #cd9802;
$alert-700: #9e7302;
$alert-800: #765301;
$alert-900: #674801;

/* Base */
$base-100: #ffffff;
$base-200: #f2f2f2;
$base-300: #e7e7e7;
$base-400: #d5d5d5;
$base-500: #b9b9b9;
$base-600: #757575;
$base-700: #545454;
$base-800: #474747;
$base-900: #000000;

/* Brand */
$brand-100: #ffe79b;
$brand-200: #ffd885;
$brand-300: #ffcb5d;
$brand-400: #ffbb33;
$brand-500: #ff9f03;
$brand-600: #a34d00;
$brand-700: #663000;
$brand-800: #2c1500;
$brand-900: #050200;

/* Error */
$error-100: #f4d6d0;
$error-200: #f2cdc4;
$error-300: #edb5a1;
$error-400: #e6876b;
$error-500: #e73722;
$error-600: #af2414;
$error-700: #78190d;
$error-800: #541109;
$error-900: #470e08;

/* Neutral */
$neutral-100: #f8f9fa;
$neutral-200: #e1e6e9;
$neutral-300: #d1d9de;
$neutral-400: #b3bfc8;
$neutral-500: #3a4751;
$neutral-600: #2a333a;
$neutral-700: #1c2328;
$neutral-800: #0f1416;
$neutral-900: #000000;

/* Primary */
$primary-100: #fffefa;
$primary-200: #fff4c8;
$primary-300: #ffeb97;
$primary-400: #ffe265;
$primary-500: #ffd733;
$primary-600: #f9c907;
$primary-700: #c5a00a;
$primary-800: #93790a;
$primary-900: #645207;

/* Secondary */
$secondary-100: #f6ebfa;
$secondary-200: #f0ddf7;
$secondary-300: #ddb5ed;
$secondary-400: #be7dda;
$secondary-500: #983cc3;
$secondary-600: #632c7c;
$secondary-700: #371a43;
$secondary-800: #190d1f;
$secondary-900: #0f0812;

/* Success */
$success-100: #d3dfd5;
$success-200: #ceddd1;
$success-300: #bed5c2;
$success-400: #96bf9e;
$success-500: #428454;
$success-600: #386e47;
$success-700: #274f33;
$success-800: #1a3421;
$success-900: #152a1b;

/* New Green */
$green-600: #0eb846;
$green-700: #0b8a35;
$green-800: #075c23;
$green-900: #042e12;
 
$text-headline: #000;
$text-action: #7F6053;

 /*------------------------------------*\
     #TYPOGRAPHY
 \*------------------------------------*/
 
 /**
  * Font Family
  */
 $font-family-primary: "Roboto", "Helvetica", "Arial", sans-serif;
 $font-family-secondary: serif;
 $font-family-body: "Roboto", "Helvetica", "Arial", sans-serif;
 $font-family-headings: "Poppins", sans-serif;


 /**
  * Font Sizing Mobile
  */

  
  $font-size-sm-mobile: 28px;
  $font-size-sm-2-mobile: 32px;
  $font-size-med-mobile: 36px;
  $font-size-med-2-mobile: 40px;
  $font-size-large-mobile: 44px;
  $font-size-xl-mobile: 48px;

  /**
  * Font Sizing Desktop
  */

  
 $font-size-sm: var(--font-size-2xl, 40px);
 $font-size-sm-2: var(--font-size-3xl, 56px);
 $font-size-med: var(--font-size-4xl, 64px);
 $font-size-med-2: var(--font-size-5xl, 72px);
 $font-size-large: var(--font-size-6xl, 80px);
 $font-size-xl: var(--font-size-7xl, 96px);

  /**
  * Font Sizing HD Desktop
  */

  $font-size-sm-hd: var(--font-size-2xl, 64px);
  $font-size-sm-2-hd: var(--font-size-3xl, 72x);
  $font-size-med-hd: var(--font-size-4xl, 80px);
  $font-size-med-2-hd: var(--font-size-5xl, 96px);
  $font-size-large-hd: var(--font-size-6xl, 112px);
  $font-size-xl-hd:  var(--font-size-7xl, 128px);


  /**
  * Font Sizing Paragraph Mobile
  */
  $font-size-paragragh-overline-mobile: 10px;
  $font-size-paragragh-xs-mobile: 12px;
  $font-size-paragragh-s-mobile: 16px;
  $font-size-paragragh-med-mobile: 18px;
  $font-size-paragragh-large-mobile: 20px;
  $font-size-paragragh-xl-mobile: 24px;


  /**
  * Font Sizing Paragraph
  */
  $font-size-paragragh-overline: 10px;
  $font-size-paragragh-xs: 14px;
  $font-size-paragragh-s: 16px;
  $font-size-paragragh-med: var(--font-size-m, 20px);
  $font-size-paragragh-large: 24px;
  $font-size-paragragh-xl: 32px;

 /**
  * Font Sizing Paragraph HD
  */
  $font-size-paragragh-overline-hd: 12px;
  $font-size-paragragh-xs-hd: 24px;
  $font-size-paragragh-s-hd: 28px;
  $font-size-paragragh-med-hd: 32px;
  $font-size-paragragh-large-hd: 44px;
  $font-size-paragragh-xl-hd: 52px;
 
 /**
  * Line Height
  */
 $line-height-sm: 0.8;
 $line-height-sm-2: 0.9;
 $line-height-med: 1;
 $line-height-med-2: 1.2;
 $line-height-large: 1.6;
 $line-height-xl: 1.8;
 
 /*------------------------------------*\
     #LAYOUT
 \*------------------------------------*/
 
 /**
  * Max Width
  */
 $l-max-width: 60rem !default;
 $l-linelength-width: 36rem !default;
 
 /*------------------------------------*\
     #SPACING
 \*------------------------------------*/
 
 /**
  * Spacing and offsets
  */
 $spacing: 1rem;
 $spacing-small: round(0.5 * $spacing);
 $spacing-large: round(2 * $spacing);
 
 $gap-none: 0rem;
 $gap-xxs: 0.25rem;
 $gap-xs: 0.5rem;
 $gap-s: 0.75rem;
 $gap-m: 1rem;
 $gap-l: 1.5rem;
 $gap-xl: 2rem;
 $gap-xxl: 3rem;
 $gap-xxxl: 4rem;
 
 /*------------------------------------*\
     #BORDERS
 \*------------------------------------*/
 
 /**
  * Border widths
  */
 $border-width: 1px;
 $border-none: 0rem;
 $border-s: 0.0625rem;
 $border-m: 0.125rem;
 $border-l: 0.25rem;
 
 /**
  * Border radius
  */
 $border-radius: 8px;
 $radius-none: 0rem;
 $radius-xs: 0.25rem;
 $radius-s: 0.5rem;
 $radius-m: 1rem;
 $radius-l: 1.5rem;
 $radius-xl: 2rem;
 $radius-round: 62.5rem;
 
 /*------------------------------------*\
     #ANIMATION
 \*------------------------------------*/
 
 /**
  * Transition Speed
  */
 $anim-fade-quick: 0.15s;
 $anim-fade-long: 0.4s;
 
 /**
  * Transition Ease
  */
 $anim-ease: ease-out;
 
 /*------------------------------------*\
     #BREAKPOINTS
 \*------------------------------------*/
 
 /**
  * Breakpoints used in media queries
  */
 $bp-small: 28em;
 $bp-med: 47em;
 $bp-large: 60em;
 $bp-xl: 70em;


